.center {
  width: 1000px;
  margin: auto;
}
@keyframes indexTop {
  0% {
    transform: translate(800px, -800px);
  }
  100% {
    transform: translate(0);
  }
}
<<<<<<< HEAD
=======
.red {
  color: red;
}
.red span {
  border-radius: 5px;
  border: 1px solid red;
  padding: 5px;
  font-size: 12px;
}
.green {
  color: green;
}
.green span {
  border-radius: 5px;
  border: 1px solid green;
  padding: 5px;
  font-size: 12px;
}
>>>>>>> dev-LiHe
.topActive {
  animation: indexTop 1s;
}
.red {
  color: red;
  margin-bottom: 15px;
}
.red span {
  border: 1px solid red;
  display: inline-block;
  padding: 2px 10px;
  font-size: 13px;
  margin: 0 5px;
  border-radius: 5px;
}
.green {
  color: #80c269;
  margin-bottom: 15px;
}
.green span {
  border: 1px solid #80c269;
  display: inline-block;
  padding: 2px 10px;
  font-size: 13px;
  margin: 0 5px;
  border-radius: 5px;
}
main .top {
  background: url(../css/img/original.jpg) -200px;
  overflow: hidden;
  height: 300px;
}
main .top .center {
  color: white;
  text-align: right;
}
main .top .center h2 {
  font-size: 34px;
  margin: 15px;
  line-height: 1.6;
}
main .top .center p span {
  font-size: 16px;
  padding: 5px 10px;
  border-radius: 5px;
  margin-left: 10px;
  background-color: #F9D29A;
  margin: 5px 5px;
  display: inline-block;
}
main .top .center .time {
  font-size: 18px;
  padding: 20px 0 16px 0;
  margin-bottom: 10px;
}
main .top .center button {
  width: 242px;
  height: 48px;
  text-align: center;
  display: inline-block;
  line-height: 48px;
  font-size: 24px;
  background-color: #FE5341;
  border-radius: 3px;
  cursor: pointer;
}
main .top .center button a {
  color: white;
}
<<<<<<< HEAD
main .hot-box {
  margin-bottom: 40px;
}
main .hot-box .title {
  margin: 20px;
  font-size: 20px;
  font-weight: 600;
}
main .hot-box .swiper .center {
  overflow: hidden;
}
main .hot-box .swiper .center .swi-top {
  display: flex;
  justify-content: space-between;
  text-align: center;
  height: 290px;
}
main .hot-box .swiper .center .swi-top li {
  border: 1px solid #999;
  border-radius: 3px;
  width: 220px;
}
main .hot-box .swiper .center .swi-top li img {
  width: 220px;
  height: 130px;
}
main .hot-box .swiper .center .swi-top li .swi-xia {
  padding: 12px;
  box-sizing: border-box;
}
main .hot-box .swiper .center .swi-top li .swi-xia h2 {
  font-size: 16px;
  height: 45px;
  font-weight: bold;
  white-space: pre-wrap;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-bottom: 10px;
}
main .hot-box .swiper .center .swi-top li .swi-xia .apply span {
  color: red;
}
main .report-box {
  background-color: #F7F7F7;
  padding-bottom: 40px;
}
main .report-box .report-top {
  display: flex;
  justify-content: space-between;
}
main .report-box .report-top h2 {
  padding: 18px 0 16px;
  font-size: 20px;
  font-weight: 600;
}
main .report-box .report-top a {
  padding: 18px 20px 16px;
  background: url(../css/img/readMore.png) no-repeat 88px 25px;
}
main .report-box .report-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .report-box .report-main li {
  width: 220px;
  cursor: pointer;
  border: 1px solid #999;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 15px;
}
main .report-box .report-main li img {
  width: 220px;
}
main .report-box .report-main li .report-main-item {
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 87px;
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .report-box .report-main li .report-main-item p {
  margin-bottom: 10px;
  height: 38px;
  overflow: hidden;
}
main .report-box .report-main li .report-main-item .report-xia {
  display: flex;
  justify-content: space-between;
}
main .report-box .report-main li .report-main-item .report-xia span {
  color: #a3a3a3;
  font-size: 12px;
}
main .report-box .report-main li .report-main-item .report-xia .zan,
main .report-box .report-main li .report-main-item .report-xia .xinxi {
  padding-left: 15px;
}
main .report-box .report-main li .report-main-item .report-xia .zan {
  background: url(../css/img/use5.png) no-repeat;
  background-size: 14px 14px;
}
main .report-box .report-main li .report-main-item .report-xia .xinxi {
  background: url(../css/img/reply.png) no-repeat;
}
main .show-box {
  background-color: white;
  padding-bottom: 40px;
}
main .show-box .show-top {
  display: flex;
  justify-content: space-between;
}
main .show-box .show-top h2 {
  padding: 18px 0 16px;
  font-size: 20px;
  font-weight: 600;
}
main .show-box .show-top a {
  padding: 18px 20px 16px;
  background: url(../css/img/readMore.png) no-repeat 88px 25px;
}
main .show-box .show-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .show-box .show-main li {
  width: 220px;
  cursor: pointer;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 15px;
}
main .show-box .show-main li img {
  width: 220px;
}
main .show-box .show-main li .show-main-item {
  background: url(../css/img/listbg.jpg) no-repeat left bottom;
  padding: 10px;
  background-size: 221px 19px;
  padding-bottom: 30px;
  font-size: 14px;
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .show-box .show-main li .show-main-item p {
  margin-bottom: 10px;
  height: 38px;
  overflow: hidden;
}
main .show-box .show-main li .show-main-item .show-xia {
  display: flex;
  justify-content: space-between;
}
main .show-box .show-main li .show-main-item .show-xia .zan,
main .show-box .show-main li .show-main-item .show-xia .xinxi {
  padding-left: 15px;
}
main .show-box .show-main li .show-main-item .show-xia .zan {
  background: url(../css/img/use5.png) no-repeat;
  background-size: 14px 14px;
}
main .show-box .show-main li .show-main-item .show-xia .xinxi {
  background: url(../css/img/reply.png) no-repeat;
}
main .find-box {
  background-color: #F7F7F7;
  padding-bottom: 40px;
}
main .find-box .lod {
  color: red;
  text-align: center;
  padding-left: 30px;
  cursor: pointer;
  background: url(../css/img/more.png) no-repeat 445px 9px;
}
main .find-box .loding {
  color: red;
  text-align: center;
  padding-left: 30px;
  cursor: pointer;
  background: url(../css/img/loading-icon.gif) no-repeat 445px;
}
main .find-box .find-top {
  display: flex;
  justify-content: space-between;
}
main .find-box .find-top h2 {
  padding: 18px 0 16px;
  font-size: 20px;
  font-weight: 600;
}
main .find-box .find-top a {
  padding: 18px 20px 16px;
  background: url(../css/img/readMore.png) no-repeat 88px 25px;
}
main .find-box .find-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
main .find-box .find-main li {
  width: 220px;
  cursor: pointer;
  border: 1px solid #ebe8e8;
  background-color: white;
  border-radius: 3px;
  margin-bottom: 15px;
}
main .find-box .find-main li img {
  width: 220px;
}
main .find-box .find-main li .find-main-item {
  padding: 10px;
  box-sizing: border-box;
  font-size: 14px;
  height: 87px;
  color: #474747;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .find-box .find-main li .find-main-item p {
  height: 38px;
  overflow: hidden;
}
main .find-box .find-main li .find-main-item p span {
  margin-bottom: 20px;
  color: #999;
  display: inline-block;
}
main .find-box .find-main li .find-main-item .find-xia {
  display: flex;
  justify-content: space-between;
}
main .find-box .find-main li .find-main-item .find-xia .find-red {
  color: red;
  font-size: 16px;
}
main .find-box .find-main li .find-main-item .find-xia .zan,
main .find-box .find-main li .find-main-item .find-xia .xinxi {
  padding-left: 15px;
}
main .find-box .find-main li .find-main-item .find-xia .zan {
  background: url(../css/img/use5.png) no-repeat;
  background-size: 14px 14px;
}
main .find-box .find-main li .find-main-item .find-xia .xinxi {
  background: url(../css/img/reply.png) no-repeat;
=======
main section .swiper-slide .center {
  overflow: hidden;
}
main section .swiper-slide .center ul {
  display: flex;
  height: 315px;
  justify-content: space-between;
}
main section .swiper-slide .center ul li {
  height: 290px;
  text-align: center;
  width: 220px;
  overflow: hidden;
  border: 1px solid #999;
  border-radius: 5px;
}
main section .swiper-slide .center ul li img {
  height: 130px;
}
main section .swiper-slide .center ul li .swi-base {
  padding: 5px;
  box-sizing: border-box;
}
main section .swiper-slide .center ul li .swi-base h2 {
  font-size: 16px;
  height: 48px;
  font-weight: bold;
}
main section .swiper-slide .center ul li .swi-base .swi-p {
  margin-bottom: 15px;
}
main section .swiper-slide .center ul li .swi-base .apply {
  margin-bottom: 10px;
}
main section .swiper-slide .center ul li .swi-base .apply span {
  color: red;
>>>>>>> dev-LiHe
}
