body {
  background-color: rgb();
}
body iframe:nth-of-type(1) {
  width: 100%;
  height: 66px;
}
body .play {
  width: 80%;
  margin: 10px auto;
  background-color: #f7f7f7;
}
body .play > p {
  width: 100%;
  margin: 30px auto;
  text-align: center;
  font-size: 40px;
}
body .play > ul {
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0 100px;
}
body .play > ul > li {
  width: 165px;
  height: 40px;
}
body .play > ul > li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 5px solid #fe5341;
}
body .play > ul > li a:hover {
  color: #fe5341;
}
body .play .playPublic {
  margin-top: 20px;
}
body .play .playPublic > p {
  margin: 20px auto;
  text-align: center;
}
body .play .playPublic .playPublicList {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
}
body .play .playPublic .playPublicList li {
  width: 220px;
  height: 230px;
  margin: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 1px gray;
  overflow: hidden;
}
body .play .playPublic .playPublicList li img {
  width: 220px;
  height: 130px;
}
body .play .playPublic .playPublicList li p {
  padding: 5px 10px;
}
body .play .playPublic .playPublicList li > span {
  display: flex;
  padding: 0 10px;
  box-sizing: border-box;
  justify-content: flex-start;
  width: 100%;
  color: gray;
  font-size: 12px;
}
body .play .playPublic .playPublicList li > .price {
  display: flex;
  padding: 10px 10px;
  align-items: center;
  justify-content: space-between;
}
body .play .playPublic .playPublicList li > .price > div:nth-of-type(1) > span {
  color: red;
  font-size: 15px;
}
body .play .playPublic .playPublicList li > .price > div:nth-of-type(2) > span {
  width: 30px;
  height: 20px;
  color: gray;
  font-size: 13px;
  line-height: 20px;
  display: inline-block;
}
body .play .playPublic .playPublicList li > .price > div:nth-of-type(2) > span:nth-of-type(1) {
  background: url(../css/img/xin.png) no-repeat 13px center;
}
body .play .playPublic .playPublicList li > .price > div:nth-of-type(2) > span:nth-of-type(2) {
  background: url(../css/img/reply.png) no-repeat 13px center;
}
body .play .playPublic .clickMore {
  width: 15%;
  color: #fe5341;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: url(../css/img/more.png) no-repeat 20px center;
}
body .play .playPublic .loadingMore {
  width: 15%;
  color: #fe5341;
  margin: 0 auto;
  display: flex;
  display: none;
  align-items: center;
  justify-content: space-around;
  background: url(../css/img/loading-icon.gif) no-repeat 20px center;
}
body iframe:nth-of-type(2) {
  width: 100%;
  height: 405px;
}
