* {
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  height: 2000px;
}
header nav {
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  box-shadow: 0 0 3px gray inset;
}
header nav img {
  width: 132px;
  height: 52px;
  border-radius: 10px;
}
header nav ul {
  width: 40%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
header nav ul li {
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 18px;
}
header nav ul li:nth-of-type(5) > a {
  color: #fe5341;
}
header nav ul li a {
  text-decoration: none;
  color: gray;
}
header nav ul li a:hover {
  color: #fe5341;
  cursor: pointer;
}
header nav .container {
  display: flex;
  align-items: center;
}
header nav .container .search {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background: url(css/img/search.png) no-repeat center center;
}
header nav .container .search:hover {
  cursor: pointer;
}
header nav .container .loginbtn {
  width: 55px;
  height: 35px;
  color: #fe5341;
  display: flex;
  transition: 0.8s ease all;
  align-items: center;
  justify-content: space-around;
  border-radius: 5px;
  border: 2px solid #fe5341;
  text-decoration: none;
}
header nav .container .loginbtn:hover {
  color: white;
  background-color: #fe5341;
}
body {
  position: relative;
  height: 1794px;
}
iframe {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 403px;
  /* 调整高度根据需要 */
}
.shop h1 {
  width: 1000px;
  height: 128px;
  text-align: center;
  margin: auto;
  line-height: 128px;
  font-size: 40px;
  font-weight: 400;
}
.shop ul {
  list-style: none;
  width: 1000px;
  height: 35px;
  margin: auto;
}
.shop ul .newww {
  color: black;
}
.shop ul li {
  float: left;
  font-size: 18px;
  height: 31px;
  width: 160px;
  text-align: center;
  color: gray;
}
.shop ul li:nth-of-type(1) {
  margin-left: 340px;
}
.red {
  border-bottom: 4px solid #FE5431;
}
.report {
  width: 100%;
  height: 2000px;
  background-color: #F7F7F7;
  margin: auto;
  overflow: hidden;
}
.report .reportNew {
  width: 1000px;
  height: 100%;
  background-color: aquamarine;
  margin: auto;
  margin-top: 20px;
}
.report .reportNew .left {
  width: 700px;
  height: 100%;
  background-color: antiquewhite;
  float: left;
}
.report .reportNew .left ul {
  list-style: none;
}
.report .reportNew .left ul li .img {
  border-radius: 10px;
  position: relative;
}
.report .reportNew .left ul li .img img {
  width: 700px;
  height: 412px;
  border-radius: 10px;
}
.report .reportNew .left ul li .img .mb {
  width: 100%;
  height: 130px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: rgba(244, 237, 234, 0.9);
}
