* {
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    height: 2000px;
}

header nav {
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: 0 0 3px gray inset;
}

header nav img {
    width: 132px;
    height: 52px;
    border-radius: 10px;
}

header nav ul {
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header nav ul li {
    height: 100%;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 18px;

    &:nth-of-type(4)>a {
        color: #fe5341;
    }

    a {
        text-decoration: none;
        color: gray;

    }
}



header nav ul li>a:hover {
    color: #fe5341;
    cursor: pointer;
}

header nav .container {
    display: flex;
    align-items: center;
}

header nav .container .search {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    background: url(./css/img/search.png) no-repeat center center;
}

header nav .container .search:hover {
    cursor: pointer;
}

header nav .container .loginbtn {
    width: 55px;
    height: 35px;
    color: #fe5341;
    display: flex;
    transition: .8s ease all;
    align-items: center;
    justify-content: space-around;
    border-radius: 5px;
    border: 2px solid #fe5341;
    text-decoration: none;
}

header nav .container .loginbtn:hover {
    color: white;
    background-color: #fe5341;
}

body {
    position: relative;
    height: 1794px;
}


// iframe {
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     height: 403px;



//     /* 调整高度根据需要 */
// }


// 免费试用
.try {


    h1 {
        width: 1000px;
        height: 128px;
        text-align: center;
        // background-color: aqua;
        margin: auto;
        line-height: 128px;
        font-size: 40px;
        font-weight: 400;
    }

    ul {
        list-style: none;
        width: 1000px;
        height: 35px;
        // background-color: antiquewhite;
        margin: auto;



        li {
            float: left;
            font-size: 18px;
            height: 31px;
            width: 200px;
            // background-color: aquamarine;
            text-align: center;

            color: gray;

            &:nth-of-type(1) {
                margin-left: 300px;

            }

        }
    }
}

.navs {
    width: 1000px;
    height: 50px;
    // background-color: aquamarine;
    margin: auto;

    ul {
        list-style: none;
        border-top: 1px solid gray;

        .color {
            color: rgb(0, 0, 0);
        }

        li {
            width: 165px;
            float: left;
            font-size: 18px;
            text-align: center;
            line-height: 49px;
            color: gray;

            &:nth-of-type(1) {
                margin-left: 170px;
                // color: black;
            }
        }
    }


}










.public {
    height: 1800px;
    width: 1080px;
    margin: auto;
    // background-color: antiquewhite;
}

.trial {
    width: 100%;
    height: 1400px;
    // background-color: #e01f1f;

    .item {
        width: 100%;
        margin: auto;
        display: flex;
        list-style: none;
        flex-direction: row;
        flex-wrap: wrap;
        // justify-content: space-between;
        text-align: center;


        li {
            height: 285px;
            width: 220px;
            // background-color: #FE5431;
            border: 1px solid rgb(200, 197, 197);
            border-radius: 5px;
            margin-left: 40px;

            position: relative;

            margin-top: 20px;
            margin-bottom: 20px;

            a {
                text-decoration: none;
                color: black;


                img {
                    width: 220px;
                    border-radius: 5px;
                }

                p {
                    font-size: 16px;
                    margin-left: 10px;
                    margin-right: 10px;
                    text-align: center;
                    margin-top: 3px;
                    margin-bottom: 3px;

                    &:nth-of-type(1) {
                        font-weight: 700;
                    }

                    span {
                        color: red;

                    }
                }

                &>span {
                    font-size: 12px;
                    color: #ccc;
                    border: 1px solid #ccc;
                    padding: 2px 6px;
                    border-radius: 3px;
                    display: inline-block;
                    margin-bottom: 10px;

                    &:nth-of-type(2) {
                        margin-left: 7px;
                    }
                }



                .num {
                    font-size: 14px;
                    color: #ccc;
                    margin-top: 7px;
                }

                .sf {
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-color: #FE5431;
                    color: white;
                    border-radius: 0px 5px 0px 7px;
                    border: none;
                }
            }
        }
    }

    .more {
        text-align: center;
        margin-top: 30px;



        a {
            text-decoration: none;
            color: rgb(239, 5, 5);


        }
    }

    .d {
        a {
            color: black;
        }
    }


}

// 全部
.all {
    display: block;
}

.apply {
    display: none;
}

.download {
    display: none;
}

.end {
    display: none;
}


.people {
    display: block;
}

.red {
    border-bottom: 4px solid #FE5431;
}

body {
    position: relative;
}

iframe:nth-of-type(2) {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 403px;



    /* 调整高度根据需要 */
}

.pantent {
    display: none;
}




// 体验师专享
.pantent {
    height: 2130px;
    width: 1080px;
    margin: auto;





    .only {
        width: 100%;
        height: 1400px;
        // background-color: #e01f1f;

        .item {
            width: 100%;
            margin: auto;
            display: flex;
            list-style: none;
            flex-direction: row;
            flex-wrap: wrap;
            // justify-content: space-between;
            text-align: center;



            li {
                height: 285px;
                width: 220px;
                // background-color: #FE5431;
                border: 1px solid rgb(200, 197, 197);
                border-radius: 5px;


                position: relative;
                margin-left: 40px;
                margin-top: 20px;
                margin-bottom: 20px;

                a {
                    text-decoration: none;
                    color: black;


                    img {
                        width: 220px;
                        border-radius: 5px;
                    }

                    p {
                        font-size: 16px;
                        margin-left: 10px;
                        margin-right: 10px;
                        text-align: center;
                        margin-top: 3px;
                        margin-bottom: 3px;

                        &:nth-of-type(1) {
                            font-weight: 700;
                        }

                        span {
                            color: red;

                        }
                    }

                    &>span {
                        font-size: 12px;
                        color: #ccc;
                        border: 1px solid #ccc;
                        padding: 2px 6px;
                        border-radius: 3px;
                        display: inline-block;
                        margin-bottom: 10px;

                        &:nth-of-type(2) {
                            margin-left: 7px;
                        }
                    }



                    .num {
                        font-size: 14px;
                        color: #ccc;
                        margin-top: 7px;
                    }

                    .sf {
                        position: absolute;
                        top: 0;
                        right: 0;
                        background-color: #FE5431;
                        color: white;
                        border-radius: 0px 5px 0px 7px;
                        border: none;
                    }
                }
            }
        }

        .more {
            text-align: center;
            margin-top: 30px;



            a {
                text-decoration: none;
                color: rgb(12, 12, 12);


            }
        }
    }
}